<div class="main-container">
    <div class="search-bar-container">
      <div class="field">
        <p class="control has-icons-left">
          <input class="input" type="text" placeholder="Filter" />
          <span class="icon is-small is-left">
            <i class="fas fa-search"></i>
          </span>
        </p>
      </div>
    </div>



    <div class="notes-list">
      <app-note-card [cardTitle]="'Test 123'" [cardBody]="'test test test!'"></app-note-card>
      <app-note-card cardTitle="cardTitle" cardBody="  Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed repellat natus fugiat quos distinctio, nostrum harum velit magnam ab id, dolorem tenetur doloribus nesciunt a eius! Cupiditate incidunt provident repudiandae.  Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed repellat natus fugiat quos distinctio, nostrum harum velit magnam ab id, dolorem tenetur doloribus nesciunt a eius! Cupiditate incidunt provident repudiandae.  Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed repellat natus fugiat quos distinctio, nostrum harum velit magnam ab id, dolorem tenetur doloribus nesciunt a eius! Cupiditate incidunt provident repudiandae."></app-note-card>
      <app-note-card></app-note-card>
      <app-note-card></app-note-card>
    </div>
  </div>