.main-container{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: auto;
    padding-top: 50px;
}

.notes-list{
    margin-top: 35px;
}

app-note-card {
    display: block; //para que aplique los 25px de margin entre elementos
    margin-bottom: 25px;
}